
@font-face {
  src:  url(fonts/static/Montserrat-SemiBold.ttf);
  font-family: 'Montserrat SB';
  font-weight: normal;
}

@font-face {
  src:  url(fonts/static/Montserrat-Medium.ttf);
  font-family: 'Montserrat M';
  font-weight: normal;
}

@font-face {
  src:  url(fonts/static/Montserrat-Regular.ttf);
  font-family: 'Montserrat R';
  font-weight: normal;
}

a {

color: white;

}

a:hover {

color: white;
  
}

body {

background-color: #FFF8C2;

}

fieldset {

padding: 10px;

/* controla a distancia entre os elementos e a borda */
margin: 15px;
margin-right: 5%;
margin-left: 5%;
margin-top: 10%;
  
/* margem para alinhar o fieldset com o restante do grid */
border-radius: 5px;

}

header {

  background-color: #2C2C2C;
  height: 86px;

}

::placeholder{

  color: #2C2C2C;

}


.group{

 font-size: min(4.2vw, 1.1em);
 border-radius: 10px;
 padding-left: 5px;
 margin-bottom: 5px;
 
}

#logotipo{

  margin-top: 1.8%;
  margin-left: 4%;
  width: 20%; 

}      

#cadastro{

width: 40%;
height: 28px;
align-items: center;
margin-top: 5%;
margin-left: 2%;
text-align: center;
border-style: solid;
border-radius: 4px;
padding: 1.7%;
font-size: 80%;
font-style: bold;

} 

#home{

width: 9%;
align-items: center;
margin-top: 2%;
margin-left: 11%;
text-align: center;

}

      
.inputform{

background-color: #C5C5C5;
margin-left: 2%;
width: 96%;
border-style: solid;
border-radius: 4px;
font-family: 'Montserrat R';
text-indent: left 15%;
padding: 0.7% 2%;
       
}  

p.insira{

font-family: 'Montserrat M';
font-weight: 500;
font-size: 19px;
line-height: 23px;
text-align: center;

}  

p.grupo{

font-family: 'Montserrat M';
font-weight: 500;
font-size: 19px;
line-height: 23px;
text-align: center;

}  

p.selecione{

font-family: 'Montserrat R';
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: left;
margin-left: 7px;

}

fieldset.opcoes{

margin-left: 2%;
width: 96%;  

}

#valor1{

margin-top: 5%;

}

input.um{

margin-left: 25%; 

}

div.dois{

float: right;
margin-right: 25%;

}


input.tres{

margin-left: 25%;
margin-top: 7%;

}

div.quatro{

float: right;
margin-right: 25%;
margin-top: 5%;

}

 #botao{

font-family: 'Montserrat M';
font-weight: 500;
font-size: 19px;
line-height: 23px;
width: 35%;
height: 50px;
align-items: center;
margin-top: 10%;
margin-left: 35%;
text-align: center;
border-radius: 7px;
background-color: #6F6F6F;

  }


