@font-face {
  src:  url(fonts/static/Montserrat-SemiBold.ttf);
  font-family: 'Montserrat SB';
  font-weight: normal;
}

@font-face {
  src:  url(fonts/static/Montserrat-Medium.ttf);
  font-family: 'Montserrat M';
  font-weight: normal;
}

@font-face {
  src:  url(fonts/static/Montserrat-Regular.ttf);
  font-family: 'Montserrat R';
  font-weight: normal;
}

a {

color: white;

}

a:hover {

color: white;
  
}

body {

background-color: #FFF8C2;

}

header {

  background-color: #2C2C2C;
  height: 86px;

}

#logotipo{

  margin-top: 1.8%;
  margin-left: 4%;
  width: 20%;

}      

#cadastro{

width: 40%;
height: 28px;
align-items: center;
margin-top: 5%;
margin-left: 8%;
text-align: center;
border-style: solid;
border-radius: 4px;
padding: 1.7%;
font-size: 80%;
font-style: bold;

} 

#home{

width: 9%;
align-items: center;
margin-top: 2%;
margin-left: 11%;
text-align: center;

}

fieldset {

border: 1.5px solid #000000;
padding: 10px;

/* controla a distancia entre os elementos e a borda */
margin: 15px;
margin-right: 5%;
margin-left: 5%;
margin-top: 8%;
  
/* margem para alinhar o fieldset com o restante do grid */
border-radius: 5px;

}
      
 #botao{

font-family: 'Montserrat M';
width: 30%;
height: 50px;
margin-top: 8%;
margin-left: 13%;
text-align: center;
border-style: solid;
border-radius: 7px;
padding: 1.3%;
background-color: #6F6F6F;
line-height: 20px;

  }

#tempodeintervalo{
  margin-top: 9%;
  font-family: 'Montserrat M';

  font-size: 19px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
}

#informacoes{
  margin-top: 1%;
  font-family: 'Montserrat R';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

h5#informacoes {
  align-items: center;
  font-size: 13px;
}

#relatorio{
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 4%;
 text-align: center;

}



